#logo {
  border-radius: 50%;
}

.carousel-item {
  padding: 1.5rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center; 
}

.carousel-slide {
  margin-bottom: 2rem;
}

#footer {
  background-color: #30608bea;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

#email {
  color: #212529;
  text-decoration: none !important;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 900px;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

span {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

div {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

li {
  color: #000000;
  font-family: "Merriweather", serif;
  font-weight: 600px;
  
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;                

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}

.nav-item {
  margin-left: 2rem;
  margin-right: 2rem;
}

.custom-hover:hover {
  background-color: #E1E1E1;
}
table td {
  outline: 1px solid black;
}

#leaderboard {
  background-color: lightblue;
}