/* ID */
#logo {
  border-radius: 50%;
}

#footer {
  background-color: #30608bea;
}

#email {
  color: #212529;
  text-decoration: none !important;
}

#leaderboard {
  background-color: lightblue;
}

#gallery {
  background-color: #E1E1E1;
}

#gallery-slideshow {
  background-color: #ffffff;
}

#metodologie {
  background-color: #E1E1E1;
}

/* Class */

.carousel-item {
  padding: 1.5rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center; 
}

.carousel-slide {
  margin-bottom: 2rem;
}

.nav-item {
  margin-left: 2rem;
  margin-right: 2rem;
}

.custom-hover:hover {
  background-color: #E1E1E1;
}

.person-img {
  border-radius: 50%;

  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}

.person-row {
  margin-left: 0% !important;
  margin-right: 0% !important;
}

.block-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 500px;
}

.separator {
  width: auto;
  height: 50px;
  background-color: #E1E1E1;
}

.blog {
  background-color: #858282e7;
}

.justified {
  text-align: justify;
}

/* Tags */
h1 {
  font-family: "Merriweather", serif;
  font-weight: 900px;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

span {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

div {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

li {
  color: #000000;
  font-family: "Merriweather", serif;
  font-weight: 600px;
  
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;                

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}

ul.no-bullets {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

table td {
  outline: 1px solid black;
}