#logo {
  border-radius: 50%;
}

.carousel-item {
  height: 400px;
  background-size: cover;
  background-position: center;
}

#footer {
  background-color: #30608bea;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

#email {
  color: #212529;
  text-decoration: none !important;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 900px;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

span {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

div {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

li {
  font-family: "Merriweather", serif;
  font-weight: 600px;
}

.nav-item {
  margin-left: 2rem;
  margin-right: 2rem;
}
